body {
    background-image: url("https://assets-prd.ignimgs.com/2022/05/25/starwarssaga-blogroll-1653501853399.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}
@mixin centerInsideFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
#myHeader {
    display: grid;
    width: 100%;
    height: 100%;
    grid-column: 1 / 11;
    grid-row: 1 / 3;
    background-color: white;
    align-items: center;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 100%;
}
#logo {
    grid-column: 5 / 8;
    height: 150px;
}
#InputContainer {
    width: 150px;
    display: flex;
    flex-flow: row wrap;
    height: 1fr;
    max-height: 600px;
    overflow: scroll;  
    @include centerInsideFlexBox;
    background-color: black;
    position: absolute;
  
    #searchInput {
      height: 50px;
      
    }
  
    .charButtons {
      width: 130px;
      height: 30px;
    }
    #suggestions {
        height: 1fr;
    }
  }

.hidden {
    width: 150px;
    display: none;
}


  #SECTIONS {
    background-color: aqua;
    grid-column: 1 / 11;
    grid-row: 3 / 8;
    display: flex;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: 100%;
    justify-content: center; /* added */
    align-items: start; /* added */
    & section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column; /* added */
        justify-content: start;
        align-items: center;
        border: 3px solid black;
        &#favourites {
            grid-column: 1 / 2; /* changed */
            grid-row: 1;
            background-color: red;
        }
        &#selecterChar {
            grid-row: 1;
            grid-column: 2 / 3;
        }
        &#homeWorld {
            grid-row: 1;
            grid-column: 3 / 4;
        }
    }
}


.modal {
    background-color: black;
}